// variable
$primary: #3d3d3d;
$primary-hover: #567d56;
$light: #fafcfa;
$dark: #7c7d7c;
$white: #ffffff;
$blue: #1a0dab;
$red: #c9011f;
$gray: #e1e3e1;

$spacer: 1rem;

// font
@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans CJK JP"), local("Noto Sans CJK JP Regular"),
    url("../fonts/NotoSansCJKjp-Regular.woff2") format("woff2"),
    url("../fonts/NotoSansCJKjp-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 900;
  src: local("Noto Sans CJK JP Black"), url("../fonts/NotoSansCJKjp-Black.woff2") format("woff2"),
    url("../fonts/NotoSansCJKjp-Black.woff") format("woff");
  font-display: swap;
}

$font-family-sans-serif: "Noto Sans", "Noto Sans CJK JP", "Helvetica Neue", Helvetica, Arial, sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

article,
aside,
header,
footer,
main,
nav,
section,
pre {
  display: block;
}

body {
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 18px;
  line-height: 1.6;
  word-wrap: break-word;
  background: $light;
  -webkit-font-smoothing: antialiased;
}

// container layout

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.row > * {
  width: 100%;
}

.primary {
  flex: 0 0 auto;
  width: 100%;
}

.main {
  background-color: $white;
  padding: 2px 8px;
}

.side {
  flex: 0 0 auto;
  padding: 0 8px;
  font-size: 16px;
  margin-top: 16px;
}

header > .container > .row > * {
  padding: 0 8px;
}

@media only screen and (min-width: 576px) {
  .container {
    width: 90%;
  }

  .main {
    box-shadow: 4px 4px 8px 0 $dark;
    padding: 2px 16px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }

  .primary {
    width: 74%; //552
    margin-right: auto;
  }

  .side {
    width: 24%; //184
    margin-left: auto;
    margin-top: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1340px;
  }
}

// page header & footer
nav {
  background-color: $gray;
  font-weight: 900;
  padding: 16px 0;
  font-size: 2rem;
  ul {
    font-size: 1.5rem;
    list-style: none;
    margin-top: 0;
    padding-inline-start: 0;
    li {
      float: left;
      padding: 0 8px;
    }
  }
}

@media only screen and (min-width: 768px) {
  nav {
    ul {
      font-size: 2rem;
      float: right;
      margin-top: 0;
      li {
        float: left;
        padding: 0 8px;
      }
    }
  }
}

footer {
  margin-top: 32px;
  background-color: $gray;
}

// node
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

article.post h2 {
  padding-left: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-top: 4px solid $dark;
  border-bottom: 4px solid $dark;
  margin-bottom: 1rem;
}

article.post h3 {
  padding-left: 0.5rem;
  border-left: 4px solid $dark;
  margin-bottom: 1rem;
}

article.post h4 {
  font-size: 1.2rem;
  padding-left: 0.5rem;
  border-bottom: 2px solid $dark;
  margin-bottom: 1rem;
}

// link
a {
  word-break: break-all;
}

a,
a:visited {
  color: $blue;
  text-decoration: none;
}

a:hover,
a:focus {
  color: $primary-hover;
  text-decoration: underline;
}

#widget-tags > a {
  word-break: break-word;
}

article.post-preview {
  padding-top: $spacer * 2;
  padding-bottom: $spacer * 2;
  border-bottom: 1px solid $dark;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    border-bottom: none;
  }
}

article.post-preview a,
article.post-preview a:visited,
nav a,
nav a:visited,
footer a,
footer a:visited,
.pager a,
.pager a:visited {
  text-decoration: none;
  color: $primary;
}

article.post-preview a:focus,
article.post-preview a:hover,
nav a:focus,
nav a:hover,
footer a,
footer a:visited,
.pager a:focus,
.pager a:hover {
  text-decoration: none;
  color: $primary-hover;
}

a.post-read-more {
  font-weight: 900;
  float: right;
}

.pager {
  list-style: none;
  text-align: center;
  padding-left: 0;
  margin-top: $spacer * 2;
  li > a {
    padding: $spacer $spacer;
    background-color: $white;
    display: inline;
    font-weight: 900;
    border: 1px solid $dark;
  }
  .next > a {
    float: right;
  }
  .previous > a {
    float: left;
  }
}
@media only screen and (min-width: 768px) {
  .pager {
    li > a {
      padding: $spacer * 1.25 $spacer * 1.5;
      box-shadow: 4px 4px 8px 0 $dark;
      border: none;
    }
  }
}

//
img {
  width: 100%;
}

pre {
  overflow: auto;
  font-size: 14px;
}

pre.chroma {
  padding: 0.5rem;
}

.fa-hatena:before {
  content: "B!";
  font-family: Verdana, Arial, sans-serif;
  font-weight: bold;
}

blockquote {
  font-style: italic;
  border-left: 4px solid $dark;
  padding-left: 1rem;
  margin-left: 1rem;
  overflow-wrap: break-word;
}

.disqus-comments {
  margin-top: 2rem;
}

.post-entry {
  overflow-wrap: break-word;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccccc8;
  padding: 0.25rem 0.5rem;
}
tr:nth-child(2n) {
  background-color: $light;
}

#widget-recent-post > ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.text-center {
  text-align: center;
}

code {
  color: $red;
  background-color: $gray;
  padding: 2px;
  font-size: 0.9rem;
}

pre > code {
  background-color: inherit;
  padding: inherit;
  font-size: inherit;
  color: inherit;
}

// button
.list-inline > li {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}

.btn-primary {
  background-color: $primary;
  border-color: darken($primary-hover, 10%);
}

.btn-primary:hover {
  background-color: $primary-hover;
  border-color: darken($primary-hover, 10%);
}

.btn-circle {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  padding: 0;
}

.btn-fa-stack {
  font-size: 1.5rem;
  line-height: 1rem;
  text-align: center;
  vertical-align: -0.125rem;
  color: $white;
}

// tag link

a.btn-outline-primary {
  display: inline-block;
  margin: 2px 4px;
  padding: 2px 8px;
  background-color: $white;
}

a.btn-outline-primary,
a.btn-outline-primary:visited {
  color: $primary;
  border: 1px solid $primary;
  border-radius: 4px;
}

a.btn-outline-primary:hover,
a.btn-outline-primary:focus {
  color: $white;
  background-color: $primary-hover;
  border-color: darken($primary-hover, 10%);
}

.google-placed {
  min-height: 280px;
  margin-top: 20px;
  margin-bottom: 20px;
}
