<!DOCTYPE html>
<html lang="{{ .Lang }}">
  <head>
    {{- partial "head.html" . -}}
  </head>
  <body>
    {{- partial "nav.html" . -}}
    {{- partial "header.html" . -}}


    <main class="container">
      <div class="row">
        {{ if eq .Type "posts" }}
        <div class="left-side">{{ partial "toc" . }}</div>
        <div class="primary">{{ block "main" . }}{{ end }}</div>
        <div class="right-side">{{ partial "sidebar" }}</div>
        {{ else }}
        <div class="left-side"></div>
        <div class="primary">{{ block "main" . }}{{ end }}</div>
        <div class="right-side">{{ partial "sidebar" }}</div>
        {{ end }}
      </div>
    </main>
    {{- partial "footer.html" . -}}
    <script src="{{ "js/lightbox-plus-jquery.min.js" | absURL }}"></script>
  </body>
</html>
