<!DOCTYPE html>
<html lang="{{ .Lang }}">
  <head>
    {{- partial "head.html" . -}}
  </head>
  <body>
    {{- partial "nav.html" . -}} {{- partial "header.html" . -}}

    <main class="container">
      <div class="row">
        <div class="primary">{{ block "main" . }}{{ end }}</div>
        <div class="side">{{ partial "sidebar" }}</div>
      </div>
    </main>
    {{- partial "footer.html" . -}}

    <script
      data-ad-client="ca-pub-6280288607676836"
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
    ></script>
  </body>
</html>
