{{ define "main" }}
  {{ with .Content }}{{ . }}{{ end }}


  <div class="main">{{ range .Paginator.Pages }}{{ partial "post_preview" . }}{{ end }}</div>

  {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    <ul class="pager main-pager">
      {{ if .Paginator.HasPrev }}
        <li class="previous">
          <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">&laquo; Newer Posts</a>
        </li>
      {{ end }}
      {{ if .Paginator.HasNext }}
        <li class="next">
          <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">Older Posts &raquo;</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}
