{{- $.Scratch.Set "Title" .Title }}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-41607666-9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "UA-41607666-9");
</script>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

{{ partial "site_metadata" . }}

<link rel="alternate" href="{{ "index.xml" | absURL }}" type="application/rss+xml" title="{{ .Site.Title }}" />
<link href="{{ "fontawesome/css/all.min.css" | absURL }}" rel="stylesheet" />
<link href="{{ "css/style.css" | absURL }}" rel="stylesheet" />

<link rel="stylesheet" href="{{ "css/syntax.css" | absURL }}" />
<link rel="stylesheet" href="{{ "css/codeblock.css" | absURL }}" />

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#fcfcfa" />
<script
  data-ad-client="ca-pub-6280288607676836"
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
></script>

{{ with ($.Scratch.Get "Title") }}<title>{{ . }} - {{ $.Site.Title }}</title>{{ end }}
