<span class="post-meta">
  {{ $datestr := default (i18n "dateFormat") .Site.Params.dateformat | .Date.Format }}
  <i class="fas fa-calendar"></i>
  &nbsp;{{ $datestr }} &nbsp;&nbsp;|&nbsp;&nbsp;
  <i class="fas fa-file-alt"></i>
  &nbsp;{{ .WordCount }}&nbsp;Words &nbsp;&nbsp;|&nbsp;&nbsp;
  <i class="fas fa-hourglass-half"></i>
  &nbsp;{{ .ReadingTime }}&nbsp;minutes &nbsp;&nbsp;|&nbsp;&nbsp;
  <i class="fas fa-user-edit"></i>
  &nbsp;{{ .Site.Author.name | safeHTML }}
  <br />
  <i class="fas fa-tags"></i>
  {{ range .Params.tags }}
    <a href="/tags/{{ . | urlize }}/">#{{ . }}</a>
    &nbsp;
  {{ end }}
</span>
