<aside id="sidebar">
  <div id="widget-recent-post">
    <h3>Recent Posts</h3>
    <ul>
      {{ range first 5 (where site.RegularPages "Type" "in" site.Params.mainSections) }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </div>
  <div id="widget-tags">
    <h3>Tags</h3>
    {{ range $name, $tag := site.Taxonomies.tags }}
    {{ with site.GetPage (printf "/tags/%s" $name) }}
    <a href="{{.RelPermalink}}"> {{.Title}}({{$tag.Count}}) </a>
    {{ end }}
    {{ end }}
  </div>
</aside>
