<meta name="description" content="{{ .Summary | default .Site.Title }}" />
<meta name="author" content="{{ .Site.Author.name }}" />

{{ with .Title | default .Site.Title }}<meta property="og:title" content="{{ . }}" />{{ end }}
{{ with .Description | default .Summary }}<meta property="og:description" content="{{ . }}" />{{ end }}
<meta property="og:url" content="{{ .Permalink | absURL }}" />
<meta property="og:type" content="article" />
<meta property="og:site_name" content="{{ .Site.Title }}" />

{{ $img := resources.Get "images/og-background.png"}}
{{ $font := resources.GetRemote "https://github.com/notofonts/noto-cjk/raw/main/Sans/OTF/Japanese/NotoSansCJKjp-Black.otf" }}
{{ $options := dict "color" "#000000" "size" 60 "x" 120 "y" 20 "font" $font}}
{{ $filter := images.Text .Site.Title $options}}
{{ $img = $img | images.Filter $filter }}
{{ $options := dict "color" "#000000" "size" 40 "x" 50 "y" 150 "font" $font}}
{{ $sub := substr .Title 0 16 }}
{{ $filter := images.Text $sub $options}}
{{ $img = $img | images.Filter $filter }}
{{ $options := dict "color" "#000000" "size" 40 "x" 50 "y" 200 "font" $font}}
{{ $sub := substr .Title 16 16 }}
{{ $filter := images.Text $sub $options}}
{{ $img = $img | images.Filter $filter }}
{{ $options := dict "color" "#000000" "size" 40 "x" 50 "y" 250 "font" $font}}
{{ $sub := substr .Title 32 16 }}
{{ $filter := images.Text $sub $options}}
{{ $img = $img | images.Filter $filter }}
{{ $options := dict "color" "#000000" "size" 40 "x" 50 "y" 300 "font" $font}}
{{ $sub := substr .Title 48 16 }}
{{ $filter := images.Text $sub $options}}
{{ $img = $img | images.Filter $filter }}

{{ with .Params.share_img | default .Params.image | default .Site.Params.logo }}
<meta property="og:image" content="{{ .|absURL }}" />
{{ else }}
<meta property="og:image" content="{{ $img.Permalink }}">
{{ end }}


<meta name="twitter:card" content="summary_large_image" />
{{ with .Title | default .Site.Title }}<meta name="twitter:title" content="{{ . | truncate 70 }}" />{{ end }}
{{ with .Description | default .Summary }}
<meta property="twitter:description" content="{{ . | truncate 200 }}" />
{{ end }}
{{ with .Site.Author.twitter }}
<meta name="twitter:site" content="@{{ . }}" />
<meta name="twitter:creator" content="@{{ . }}" />
{{ end }}
{{ with .Params.share_img | default .Params.image | default .Site.Params.logo }}
<meta name="twitter:image" content="{{ .|absURL }}" />
{{ else }}
<meta name="twitter:image" content="{{ $img.Permalink }}" />
{{ end }}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "{{ .Site.Title }}",
    "url": "{{ .Site.BaseURL }}"
  }
</script><script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "{{ .Site.Author.name }}",
    "url": "{{ .Site.BaseURL }}",
    "sameAs": ["https://twitter.com/{{ .Site.Author.twitter }}", "https://github.com/{{ .Site.Author.github }}"]
  }
</script>
{{ if .IsPage }}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "item": {
            "@id": "{{ .Site.BaseURL }}",
            "name": "home"
          }
        },
        {
          "@type": "ListItem",
          "position": 3,
          "item": {
            "@id": "{{ .Permalink }}",
            "name": "{{ .Title|humanize }}"
          }
        }
      ]
    }
  </script>  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Article",
      "author": {
        "name": "{{ .Site.Author.name }}"
      },
      "headline": {{ .Title }},
      "description": {{ .Summary|plainify }},
      "inLanguage": {{ .Lang }},
      "wordCount": {{ .WordCount }},
      "datePublished" : "{{ .PublishDate.Format "2006-01-02T15:04:05" }}",
      "dateModified" : "{{ .Date.Format "2006-01-02T15:04:05" }}",
      "image" : "{{ .Site.Params.logo | absURL }}",
      "keywords" : [ "{{ range $i, $e := .Params.tags }}{{ if $i }},{{ end }}{{ $e }}{{ end }}" ],
      "mainEntityOfPage" : "{{ .Permalink }}",
      "publisher" : {
        "@type": "Organization",
        "name" : "{{ .Site.BaseURL }}",
        "logo" : {
          "@type" : "ImageObject",
          "url" : "{{ .Site.Params.logo | absURL }}",
          "height" :  60 ,
          "width" :  60
        }
      }
    }
  </script>
{{ end }}
